test_videos
out_*
/.idea/
/.vscode/
/.env
*.mp3
*.mp4
*.m4a
*.wav
__pycache__/
/.credentials.json
/tmp/
*.json.*
*~
*.gz
.DS_Store
/build/
/holy-spirit-test/
/holy-spirit-test.bak/
/dubbing_tools.egg-info/
*.jpg
*.json
*.csv
*.srt
*.egg
