<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duration Statistics - {{ data_file }}</title>
</head>
<body>
<p>Total freeze: {{ total_freeze }}</p>
<table>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Target<br/>Duration</th>
        <th>Source<br/>Duration</th>
        <th>Ratio</th>
        <th>Gap<br/>After</th>
        <th>Freeze</th>
        <th>Target Text</th>
        <th>Source Text</th>
    </tr>
    {% for phrase in phrases %}
        <tr>
            <td>{{ phrase.target.start_time }}</td>
            <td>{{ phrase.target.end_time }}</td>
            <td>{{ phrase.target.natural_audio.duration }}</td>
            <td>{{ phrase.source.duration() }}</td>
            <td>{{ phrase.target.audio_speed() }}</td>
            <td>{{ phrase.gap_between }}</td>
            <td>{{ phrase.freeze }}</td>
            <td>{{ phrase.target.text }}</td>
            <td>{{ phrase.source.text }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
